.todoItem {
    list-style: none;
    padding: .3em 1em .3em 1em;
    display: flex;
    gap: 1em;
    align-items: center;
    border: 1px solid black;
    border-radius: .5em;
    background-color: skyblue;
    color: black;
    font-size: 24px;
}

.todoItem > button {
    margin-left: auto;
    font-size: 16px;
    background-color: darkred;
}

.todoList {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
